In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('who_covid19.csv')
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,196553009,2521.675429,3999924,51.316996,623707,4200412,53.889156,63159,0.810298,10353
1,United States of America,Americas,34564448,10442.350000,471734,142.520000,90660,607095,183.410000,2155,0.650000,409
2,India,South-East Asia,31572344,2287.840000,279282,20.240000,44230,423217,30.670000,3747,0.270000,555
3,Brazil,Americas,19797086,9313.670000,323132,152.020000,48013,553179,260.250000,7575,3.560000,1344
4,Russian Federation,Europe,6242066,4277.310000,163544,112.070000,23564,157771,108.110000,5475,3.750000,794
...,...,...,...,...,...,...,...,...,...,...,...,...
233,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
234,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
235,Tonga,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.000000,0,0.000000,0